* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* PAGE STRUCTURE / LAYOUT */
body {
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.5;
	font-weight: 400;
	background-color: #777;

	/* Font rendering / smoothing */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 25px;
}

#root {
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	background: aliceblue;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}